<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{ title: "arma tu equipo" }) %>

    <body>
        <%- include('../partials/header') %>
            <main class="home_main">
                <section class="combos_productos-titulo">
                    <h3 class="combos_productos-titulo-h1 combos_productos-titulo-h1-activo" id="titulo-2" onclick="onGetProductsByCategory(event, 2)">Termos</h3>
                    <h3 class="combos_productos-titulo-h1" onclick="onGetProductsByCategory(event, 1)">Mates</h3>
                    <h3 class="combos_productos-titulo-h1" onclick="onGetProductsByCategory(event, 3)">Yerberos</h3>
                    <h3 class="combos_productos-titulo-h1" onclick="onGetProductsByCategory(event, 4)">Bombillas</h3>
                    <h3 class="combos_productos-titulo-h1" onclick="onGetProductsByCategory(event, 6)">Bolsos</h3>
                </section>
              
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <%- include('../partials/menu2') %>

                        </div>
                        <div class="col-12 col-md-8">


                            <div class="row" id="show-products">

                                <%products.filter(product=> product.typeproductsId === 2 ).forEach(product => { %>
                                    <article class="col-12 col-md-6 col-lg-4" style="cursor: pointer;" onclick="onChosen('<%= product.image %>', '<%= product.typeproductsId %>','<%= product.id %>','<%= product.price - (product.price * product.discount) / 100 %>','<%= product.name %>')">
                                        <div class=" border rounded p-3 mb-4 d-flex flex-column justify-content-between"
                                            style="height: 380px">
                                            <img class="img-fluid" height="50%" style="object-fit: cover;"
                                                src="/images/productos/<%= product.image %>" alt="">
                                            <h5 class="text-center">
                                                <%= product.name %>
                                            </h5>
                                            <h4 class="text-center">$<%= product.price %>
                                            </h4>
                                        </div>
                                    </article>
                                    <% }) %>

                            </div>





                        </div>
                    </div>

                </div>

                <script>

                    window.onload = () => {
                        let setProducts = sessionStorage.getItem('setProductsMeteando')
                        if(!setProducts) sessionStorage.setItem('setProductsMeteando', JSON.stringify([]))
                    }

                    const onChosen = (image, type, idProduct, price, name) => {
                        
                        document.getElementById(`img-${type}`).src = `/images/productos/${image}`
                        let setProducts = JSON.parse(sessionStorage.getItem('setProductsMeteando'));
                        
                        const productType = setProducts.find(product => product.type == type)

                        if(productType) {
                            const setProductsUpdated = setProducts.map(product => {
                                if(product.type == type) {
                                    product.image = image,
                                    product.price = price,
                                    id = idProduct
                                }
                                return product
                            })
                            sessionStorage.setItem('setProductsMeteando', JSON.stringify(setProductsUpdated))

                        }else {
                            setProducts.push({
                            id : idProduct,
                            type,
                            image,
                            price,
                            name
                        })
                        sessionStorage.setItem('setProductsMeteando', JSON.stringify(setProducts))

                        }

                     
                        setProducts = JSON.parse(sessionStorage.getItem('setProductsMeteando'));

                        
                        if(setProducts.length == 5) document.getElementById('btn-send-cart').classList.remove('disabled')
                    }

                    const onGetProductsByCategory = async (event, idType) => {
                        try {

                            const titles = document.querySelectorAll('.combos_productos-titulo-h1')
                            for (let i = 0; i < titles.length; i++) {
                                titles[i].classList.remove('combos_productos-titulo-h1-activo')
                            }

                            event.target.classList.add('combos_productos-titulo-h1-activo')
                            

                            let response = await fetch(`http://localhost:3000/apis/tipos/${idType}/productos`)
                            let result = await response.json()

                            document.getElementById('show-products').innerHTML = null
                            result.products.map(product => {
                                
                                document.getElementById('show-products').innerHTML+=`
                                <article class="col-12 col-md-6 col-lg-4" style="cursor: pointer;" onclick="onChosen('${product.image}', '${product.typeproductsId}','${product.id}','${product.price - (product.price * product.discount) / 100}','${product.name}')">
                                        <div class=" border rounded p-3 mb-4 d-flex flex-column justify-content-between"
                                            style="height: 380px">
                                            <img class="img-fluid" height="50%" style="object-fit: cover;"
                                                src="/images/productos/${product.image}" alt="">
                                            <h5 class="text-center">
                                                ${product.name}
                                            </h5>
                                            <h4 class="text-center">$${product.price}
                                            </h4>
                                        </div>
                                    </article>
                                `

                            })

                            
                        } catch (error) {
                            console.log(error)
                        }
                    }


                    const addProductsInCart = () => {

                        let setProducts = JSON.parse(sessionStorage.getItem('setProductsMeteando'));

                        if(setProducts.length == 5){
                            setProducts.forEach(({id, name, image, price}) => {
                            addToCart(id , name, price, image)
                            sessionStorage.setItem('setProductsMeteando', JSON.stringify([]))
                            document.getElementById('btn-send-cart').classList.add('disabled')
                        });
                        }
                      

                        

                    }
                </script>



            </main>
            <%- include('../partials/footer') %>



    </body>

</html>