<article class="combos_main-section-article">
    <a href="/productos/detalle/<%= products.id %>">
        <img class="card-img-top combos_main-section-img" src="../images/productos/<%= products.image %>" alt="">
    </a>
    <div class="card-body-custom">
        <% if (products.discount) { %>
        <span class="badge bg-success"><%= products.discount %>% OFF</span>
        <% } %>
        <h5 class="card-title combos_main-section-img-letra"><%= products.name %></h5>
        <div class="combos_main-section-div-letra">
            <h6 class=" text-muted">Precio:</h6>
            <% if (products.discount) { %>
                <h4 class=""> $<%= toThousand((products.price - (products.price * products.discount) / 100).toFixed(0)) %></h4>
            <% } else { %>
                <h4 class="">$<%= toThousand(products.price) %></h4>
            <% } %>
        </div>
        <p class="card-text combos_main-section-img-letra-p"><%= products.description %></p>
        <div class="d-flex justify-content-center w-100">
            <button onclick="addToCart('<%= products.id %>', '<%= products.name %>', '<%= products.price - (products.price * products.discount) / 100 %>', '<%= products.image %>')" class=" buy-now-button text-white" style="text-decoration: none;" >Agregar al carrito</button>
        </div>
    </div>
</article>
